@charset "UTF-8";
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1.2;
}

ol {
  list-style: decimal;
}

ul {
  padding-left: 1.4em;
  list-style: square;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

* {
  outline: none;
}

html,
body {
  height: 100%;
}

.wraper {
  width: 100%;
  background: #f6f7fa;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1430px;
  margin: 0 auto;
  overflow: hidden;
}

@media (max-width: 992px) {
  .main .container {
    padding-bottom: 47px;
  }
}

.wrap {
  margin: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 991.98px) {
  .main__sale {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .company {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .shipping {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .form1 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .partnership {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
  .team {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .reviews {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .support {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
  .form2 {
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9;
  }
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/******sale*********************************************************/
.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.main__sale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 70px -20px 0 -20px;
}

.sale__content {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  margin: 0 20px 0 20px;
}

.sale__text {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #272727;
  max-width: 457px;
  margin-top: 33px;
}

.sale__form {
  margin-top: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 453px;
  text-align: center;
}

.sale__input {
  margin-bottom: 22px;
  padding: 16px 18px;
  background: linear-gradient(270.65deg, #f1f2f7 -9.34%, #edeef4 108.28%);
  border: 0.13889px solid rgba(255, 255, 255, 0.47);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: -4px -4px 8px rgba(255, 255, 255, 0.7), 3px 3.5px 10px rgba(0, 0, 0, 0.05), inset -4px -4px 7.5px rgba(255, 255, 255, 0.8), inset 4px 4px 7.5px rgba(0, 0, 0, 0.1);
          box-shadow: -4px -4px 8px rgba(255, 255, 255, 0.7), 3px 3.5px 10px rgba(0, 0, 0, 0.05), inset -4px -4px 7.5px rgba(255, 255, 255, 0.8), inset 4px 4px 7.5px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #3e3e3e;
}

.sale__button {
  position: relative;
  background: inherit;
  border: none;
  cursor: pointer;
  padding: 15px;
  position: relative;
  margin-top: 22px;
}

.sale__video {
  margin: 0px 20px 0 20px;
  position: relative;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.title {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 56px;
  color: #272727;
}

.button__svg {
  position: absolute;
  height: 19px;
  width: 19px;
  fill: #fff;
  right: 15px;
}

input::-webkit-input-placeholder {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #3e3e3e;
  opacity: 0.7;
}

input:-ms-input-placeholder {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #3e3e3e;
  opacity: 0.7;
}

input::-ms-input-placeholder {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #3e3e3e;
  opacity: 0.7;
}

input::placeholder {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #3e3e3e;
  opacity: 0.7;
}

.button {
  background: radial-gradient(53.76% 96.05% at 48.12% 55.42%, #292828 0%, #343434 100%);
  -webkit-box-shadow: -3px -3px 8px #ffffff, 2px 2px 6px rgba(174, 174, 192, 0.4), inset 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.09);
          box-shadow: -3px -3px 8px #ffffff, 2px 2px 6px rgba(174, 174, 192, 0.4), inset 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.09);
  border-radius: 7px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  position: relative;
  cursor: pointer;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.button:hover {
  background: linear-gradient(113.72deg, #27ae60 -2.44%, #289b59 104.54%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: -3px -3px 8px rgba(255, 255, 255, 0.7), 3px 3.5px 10px rgba(0, 0, 0, 0.05), inset 1.5px 1.5px 1.5px rgba(255, 255, 255, 0.3), inset 4px 4px 10.5px rgba(0, 0, 0, 0.4);
          box-shadow: -3px -3px 8px rgba(255, 255, 255, 0.7), 3px 3.5px 10px rgba(0, 0, 0, 0.05), inset 1.5px 1.5px 1.5px rgba(255, 255, 255, 0.3), inset 4px 4px 10.5px rgba(0, 0, 0, 0.4);
}

.button:focus {
  background: radial-gradient(52.73% 186.01% at 50% 50%, #534f4f 0%, #5b5858 100%);
  -webkit-box-shadow: inset -3px -3px 6px rgba(255, 255, 255, 0.22), inset 2px 2px 6px #000000;
          box-shadow: inset -3px -3px 6px rgba(255, 255, 255, 0.22), inset 2px 2px 6px #000000;
}

.number__phone:valid {
  background-color: green;
}

/*select__city**********************************************************************/
.form__select {
  position: relative;
}

.block-select {
  display: block;
}

.__none {
  display: none;
}

.form__select.__is-active .select__body {
  display: block;
}

.select__city {
  background: linear-gradient(270.65deg, #f1f2f7 -9.34%, #edeef4 108.28%);
  border: 0.13889px solid rgba(255, 255, 255, 0.47);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: -4px -4px 8px rgba(255, 255, 255, 0.7), 3px 3.5px 10px rgba(0, 0, 0, 0.05), inset -4px -4px 7.5px rgba(255, 255, 255, 0.8), inset 4px 4px 7.5px rgba(0, 0, 0, 0.1);
          box-shadow: -4px -4px 8px rgba(255, 255, 255, 0.7), 3px 3.5px 10px rgba(0, 0, 0, 0.05), inset -4px -4px 7.5px rgba(255, 255, 255, 0.8), inset 4px 4px 7.5px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  position: relative;
}

.select__current {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #3e3e3e;
  padding: 16px 18px;
  display: block;
  text-align: left;
}

.select__current p {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: normal;
  opacity: 0.7;
}

.select__icon {
  position: absolute;
  right: 20px;
  top: 50%;
  border: 7px solid transparent;
  border-top: 7px solid #000;
}

.select__body {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  z-index: 2;
  background: linear-gradient(270.65deg, #f1f2f7 -9.34%, #edeef4 108.28%);
  border: 0.13889px solid rgba(255, 255, 255, 0.47);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: -4px -4px 8px rgba(255, 255, 255, 0.7), 3px 3.5px 10px rgba(0, 0, 0, 0.05), inset -4px -4px 7.5px rgba(255, 255, 255, 0.8), inset 4px 4px 7.5px rgba(0, 0, 0, 0.1);
          box-shadow: -4px -4px 8px rgba(255, 255, 255, 0.7), 3px 3.5px 10px rgba(0, 0, 0, 0.05), inset -4px -4px 7.5px rgba(255, 255, 255, 0.8), inset 4px 4px 7.5px rgba(0, 0, 0, 0.1);
  border-top: none;
  display: none;
  overflow: auto;
  font-size: 16px;
  line-height: 19px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: bold;
}

.select__item {
  line-height: 24px;
  padding: 8px;
}

.select__item:hover {
  background: radial-gradient(53.76% 96.05% at 48.12% 55.42%, #292828 0%, #343434 100%);
  color: #fff;
}

.mobile {
  display: none;
}

/*sale-media*************************************************************************************
****************************************************************************************************/
@media (max-width: 1199.98px) {
  .title {
    font-size: 35px;
  }
}

@media (max-width: 991.98px) {
  .desctop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .main__sale {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
  }
  .sale__text {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 300;
    font-size: 14.3697px;
    line-height: 17px;
    margin: 20px 0 28px 0;
  }
  .video1 {
    position: relative;
  }
  .sale__content {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 20px 0 0 0;
  }
  .sale__video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0px;
    position: relative;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    border-radius: 15px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 353px;
    width: 100%;
  }
  .sale__input {
    width: 100%;
  }
  .sale__button {
    width: 100%;
  }
  .sale__form {
    margin: 28px auto 0 auto;
  }
}

@media (max-width: 575.98px) {
  .sale__title {
    font-size: 24px;
    line-height: 29px;
  }
}

/***********************************************************
**************************company***************************
************************************************************/
.company__link-sale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.company {
  margin-top: 134px;
  background: linear-gradient(317.85deg, #fafafa -11.18%, #f1f1f1 114.83%);
  -webkit-box-shadow: -3px -3px 8px #ffffff, 2px 2px 6px rgba(174, 174, 192, 0.4), inset 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.09), inset -1.5px -1.5px 1.5px #ffffff;
          box-shadow: -3px -3px 8px #ffffff, 2px 2px 6px rgba(174, 174, 192, 0.4), inset 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.09), inset -1.5px -1.5px 1.5px #ffffff;
  border-radius: 15px;
  padding-bottom: 48px;
}

.company__title {
  padding-top: 76px;
  text-align: center;
}

.company__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 66px;
}

.company__video {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  position: relative;
  margin: 0 48px;
}

.company__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.company__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 451px;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  position: relative;
  top: -20px;
}

.company__sub-title {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 16.8728px;
  line-height: 22px;
  text-align: center;
  color: #272727;
  margin-top: 40px;
}

.company__baner {
  width: 100%;
  margin-top: 16px;
}

.company__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 39px;
  margin-top: 20px;
  margin: 51px 0;
}

.company__item {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #272727;
  margin-top: 11px;
  position: relative;
}

.company__item:first-of-type {
  margin-top: 0;
}

.company__item:last-of-type {
  margin-top: 17px;
}

.company__item::before {
  content: "";
  background: url(../img/company__okey.svg);
  position: absolute;
  width: 24px;
  height: 24px;
  left: -40px;
  top: 5px;
}

.company__item:last-of-type::before {
  top: -3px;
}

.company__button {
  width: 100%;
  padding: 20px 0;
}

.sub-title__strong {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
}

@media (max-width: 575.98px) {
  .sale__video {
    height: 238px;
  }
}

/*company__media*************************************************************************************
****************************************************************************************************/
@media (max-width: 991.98px) {
  .company__animation {
    position: relative;
    height: 353px;
  }
  .company {
    margin-top: 47px;
    background: inherit;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding-bottom: 0;
  }
  .company__title {
    padding-top: 0px;
    color: #3e3e3e;
  }
  .company__info {
    position: relative;
    top: 0;
  }
  .company__conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0px;
  }
  .company__video {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0;
  }
  .video2 {
    position: relative;
  }
  .company__button {
    max-width: 453px;
    margin: 29px auto 0 auto;
  }
  .company__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .company__sub-title {
    text-align: left;
    margin-top: 22px;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
  }
  .sub-title__strong {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
  }
  .company__list {
    margin: 43px 0;
  }
  .company__item {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
  }
}

@media (max-width: 575.98px) {
  .company__animation {
    height: 238px;
  }
  .company__title {
    font-size: 23px;
    line-height: 26px;
    text-transform: uppercase;
  }
  .company__baner {
    height: 57px;
  }
  .company__video {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0;
  }
}

/***********************************************************
***********************shipping*****************************
***********************************************************/
.shipping {
  margin-top: 129px;
}

.shippink__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shippink__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 55%;
          flex: 0 1 55%;
}

.shippink__text {
  margin-top: 7px;
}

.shippink__geo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.text__item {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #272727;
  margin-top: 20px;
}

.geo__items {
  width: 356px;
  background: linear-gradient(317.85deg, #fafafa -11.18%, #f1f1f1 114.83%);
  -webkit-box-shadow: -3px -3px 8px #ffffff, 2px 2px 6px rgba(174, 174, 192, 0.4), inset 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.09), inset -1.5px -1.5px 1.5px #ffffff;
          box-shadow: -3px -3px 8px #ffffff, 2px 2px 6px rgba(174, 174, 192, 0.4), inset 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.09), inset -1.5px -1.5px 1.5px #ffffff;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px 0;
}

.geo__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.geo__item {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #272727;
  position: relative;
}

.geo__item::before {
  content: "";
  width: 24px;
  height: 24px;
  background: url(../img/geo.svg);
  position: absolute;
  left: -43px;
  top: -2px;
}

/*shipping__media*************************************************************************************
****************************************************************************************************/
@media (max-width: 991.98px) {
  .shipping {
    margin-top: 50px;
  }
  .mobile__title {
    text-align: center;
    margin-bottom: 23px;
  }
  .slider__item {
    width: 100%;
    height: auto;
    aspect-ratio: 10 / 5;
    background: linear-gradient(317.85deg, #fafafa -11.18%, #f1f1f1 114.83%);
    -webkit-box-shadow: -3px -3px 8px #ffffff, 2px 2px 6px rgba(0, 0, 0, 0.1), inset 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.09), inset -1.5px -1.5px 1.5px #ffffff;
            box-shadow: -3px -3px 8px #ffffff, 2px 2px 6px rgba(0, 0, 0, 0.1), inset 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.09), inset -1.5px -1.5px 1.5px #ffffff;
    border-radius: 7px;
    height: 373px;
  }
  .slider__item h5.slider__geo {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: bold;
    padding: 21px 0 17px 0;
    margin-left: 57px;
    font-size: 18px;
    line-height: 19px;
    color: #3e3e3e;
    position: relative;
  }
  .slider__item h5.slider__geo::before {
    content: "";
    background: url(../img/geo.svg);
    width: 24px;
    height: 24px;
    position: absolute;
    left: -36px;
    top: 25px;
  }
  .slider__item h5.slider__geo span {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: normal;
    display: block;
    font-size: 14px;
  }
  .slider__item {
    opacity: 0.7;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  .slider__item img {
    position: relative;
    width: 100%;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 7px;
  }
  .slider__item iframe {
    border-radius: 7px;
  }
  .video__slider {
    aspect-ratio: 10 / 5;
    position: relative;
    width: 100%;
    height: 300px;
  }
  /* Лента слайдов */
  .slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .slick-center {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}

@media (max-width: 575.98px) {
  .slider__item {
    height: 266px;
  }
  .mobile__title {
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #3e3e3e;
  }
  .slider__item img {
    height: 183px;
  }
  .video__slider {
    height: 183px;
  }
}

/**********media-desctop*****************************************
*****************************************************************
****************************************************************/
.shippink__media {
  margin-top: 45px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 280px 280px;
      grid-template-rows: 280px 280px;
  gap: 20px;
}

.media__content {
  position: relative;
  border-radius: 15px;
}

.img__car {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.car-video {
  -ms-grid-column: span 4;
      grid-column-start: span 4;
}

.car1 {
  -ms-grid-column: span 2;
      grid-column-start: span 2;
}

.car2 {
  -ms-grid-column: span 3;
      grid-column-start: span 3;
}

.car3 {
  -ms-grid-column: span 3;
      grid-column-start: span 3;
}

.car4 {
  -ms-grid-column: span 4;
      grid-column-start: span 4;
}

.car5 {
  -ms-grid-column: span 2;
      grid-column-start: span 2;
}

/***********************************************************
**************************form******************************
***********************************************************/
.input {
  background: linear-gradient(270.65deg, #f1f2f7 -9.34%, #edeef4 108.28%);
  border: 0.13889px solid rgba(255, 255, 255, 0.47);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: -4px -4px 8px rgba(255, 255, 255, 0.7), 3px 3.5px 10px rgba(0, 0, 0, 0.05), inset -4px -4px 7.5px rgba(255, 255, 255, 0.8), inset 4px 4px 7.5px rgba(0, 0, 0, 0.1);
          box-shadow: -4px -4px 8px rgba(255, 255, 255, 0.7), 3px 3.5px 10px rgba(0, 0, 0, 0.05), inset -4px -4px 7.5px rgba(255, 255, 255, 0.8), inset 4px 4px 7.5px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  padding: 16px 18px;
  width: 100%;
  font-size: 16px;
  line-height: 19px;
  color: #3e3e3e;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: bold;
}

.form {
  margin-top: 81px;
  background: linear-gradient(317.85deg, #fafafa -11.18%, #f1f1f1 114.83%);
  -webkit-box-shadow: -3px -3px 8px #ffffff, 2px 2px 6px rgba(174, 174, 192, 0.4), inset 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.09), inset -1.5px -1.5px 1.5px #ffffff;
          box-shadow: -3px -3px 8px #ffffff, 2px 2px 6px rgba(174, 174, 192, 0.4), inset 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.09), inset -1.5px -1.5px 1.5px #ffffff;
  border-radius: 15px;
}

.form__conteiner {
  padding: 48px 48px 39px 48px;
}

.form__title {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: bold;
  font-size: 39.5px;
  line-height: 48px;
  text-align: center;
  color: #272727;
}

.form__sub-title {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: #272727;
  margin-top: 33px;
}

.form__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 19px -10px 0 -10px;
}

.form__range {
  -ms-flex-preferred-size: 31%;
      flex-basis: 31%;
  margin: 0 10px;
}

.form__name {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #3e3e3e;
  margin-bottom: 5px;
}

.form__number {
  -ms-flex-preferred-size: 23%;
      flex-basis: 23%;
  margin: 0 10px;
  position: relative;
}

.form__number .number__phone {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: normal;
  padding-left: 50px;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
}

.form__number .number__phone::-webkit-input-placeholder {
  opacity: 1;
}

.form__number .number__phone:-ms-input-placeholder {
  opacity: 1;
}

.form__number .number__phone::-ms-input-placeholder {
  opacity: 1;
}

.form__number .number__phone::placeholder {
  opacity: 1;
}

.form__number .ukraine-img {
  position: absolute;
  left: 18px;
  top: 33px;
}

.form__user {
  -ms-flex-preferred-size: 23%;
      flex-basis: 23%;
  margin: 0 10px;
}

.form__city {
  -ms-flex-preferred-size: 23%;
      flex-basis: 23%;
  margin-left: 10px;
}

.form__button {
  display: block;
  text-align: center;
  margin-top: 47px;
}

.form__button .button__send {
  width: 270px;
  height: 60px;
  position: relative;
}

.button__text {
  position: relative;
  left: -20px;
}

.buttom__telegram {
  width: 18px;
  height: 18px;
  position: absolute;
  right: 22px;
  top: 19px;
  height: 21px;
}

/******form_media****************************************************/
@media (max-width: 1250px) {
  .form__range {
    -ms-flex-preferred-size: 22%;
        flex-basis: 22%;
  }
  .form__number {
    -ms-flex-preferred-size: 32%;
        flex-basis: 32%;
  }
  .form__user {
    -ms-flex-preferred-size: 23%;
        flex-basis: 23%;
  }
  .form__city {
    -ms-flex-preferred-size: 23%;
        flex-basis: 23%;
  }
}

@media (max-width: 991.98px) {
  .form__conteiner {
    padding: 0;
  }
  .form {
    background: inherit;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin-top: 48px;
  }
  .form__title {
    font-size: 23px;
    line-height: 26px;
    text-transform: uppercase;
    color: #3e3e3e;
  }
  .form__sub-title {
    margin-top: 20px;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #272727;
    text-align: center;
  }
  .form__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    max-width: 453px;
  }
  .form__input {
    margin: 12px 0 0 0;
  }
  .form__button {
    max-width: 453px;
    margin: 20px auto 0 auto;
  }
  .form__button .button__send {
    width: 100%;
  }
}

@media (max-width: 490.98px) {
  .form__title {
    text-align: left;
  }
  .form__sub-title {
    text-align: left;
  }
}

.validblock::after {
  content: "";
  background: url(../img/succes.svg);
  background-repeat: no-repeat;
  width: 21px;
  height: 20px;
  position: absolute;
  right: 15px;
  top: 32px;
  z-index: 5;
  display: block;
}

.valid {
  border: 1px solid #27ae60;
  position: relative;
}

/***********************************************************
**************************partnership******************************
***********************************************************/
.partnership {
  margin-top: 95px;
}

.partnership__title {
  margin-left: 24px;
}

.partnership__text {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: normal;
  font-size: 22.5px;
  line-height: 26px;
  color: #272727;
  max-width: 836px;
  margin: 30px 0 30px 24px;
}

.partnership__container {
  background: linear-gradient(317.85deg, #fafafa -11.18%, #f1f1f1 114.83%);
  -webkit-box-shadow: -3px -3px 8px #ffffff, 2px 2px 6px rgba(174, 174, 192, 0.4), inset 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.09), inset -1.5px -1.5px 1.5px #ffffff;
          box-shadow: -3px -3px 8px #ffffff, 2px 2px 6px rgba(174, 174, 192, 0.4), inset 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.09), inset -1.5px -1.5px 1.5px #ffffff;
  border-radius: 15px;
}

.partnership__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 59px;
}

.partnership__list {
  padding-right: 20px;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.partnership__sub-title {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: bold;
  font-size: 41px;
  line-height: 29px;
  color: #272727;
  margin-left: 50px;
}

.partnership__sub-title span {
  display: block;
  font-size: 27.5px;
  line-height: 29px;
  color: #272727;
}

.partnership__items {
  max-width: 350px;
  margin-left: 50px;
  padding: 70px 50px 49px 0;
}

.partnership__item {
  margin-top: 71px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #272727;
  position: relative;
  left: 39px;
}

.partnership__img {
  background: url(../img/allusers.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.partnership__phone {
  position: absolute;
  left: -35px;
  bottom: 0;
}

.partnership__button {
  width: 313px;
  height: 50px;
  position: relative;
  bottom: 48px;
  left: 40px;
}

.partnership__button span {
  position: relative;
  left: -20px;
}

.partnership__button::after {
  content: "";
  background: url(../img/sparow-right.svg);
  width: 24px;
  height: 24px;
  position: absolute;
  display: block;
  right: 19px;
  top: 13px;
}

.cabinet1::before {
  position: absolute;
  content: "";
  background: url(../img/Chat.svg);
  width: 22px;
  height: 22px;
  left: -39px;
  top: 5px;
}

.cabinet2::before {
  position: absolute;
  content: "";
  background: url(../img/MoreSquare.svg);
  width: 20px;
  height: 20px;
  left: -39px;
  top: 5px;
}

.cabinet3::before {
  position: absolute;
  content: "";
  background: url(../img/Chart2.svg);
  width: 22px;
  height: 22px;
  left: -39px;
  top: 5px;
}

.cabinet4::before {
  position: absolute;
  content: "";
  background: url(../img/Bag2.svg);
  width: 19px;
  height: 20px;
  left: -39px;
  top: 5px;
}

.imgPatership {
  display: none;
}

/******partnership****************************************************/
@media (max-width: 991.98px) {
  .partnership__img,
  .partnership__text,
  .partnership__sub-title {
    display: none;
  }
  .partnership {
    margin-top: 48px;
    background: linear-gradient(317.85deg, #fafafa -11.18%, #f1f1f1 114.83%);
    -webkit-box-shadow: -3px -3px 8px #ffffff, 2px 2px 6px rgba(174, 174, 192, 0.4), inset 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.09), inset -1.5px -1.5px 1.5px #ffffff;
            box-shadow: -3px -3px 8px #ffffff, 2px 2px 6px rgba(174, 174, 192, 0.4), inset 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.09), inset -1.5px -1.5px 1.5px #ffffff;
    border-radius: 15px;
  }
  .partnership__container {
    background: inherit;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .partnership__title {
    color: #3e3e3e;
    margin-top: 24px;
    margin-left: 70px;
  }
  .partnership__list {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 0 24px;
    padding-right: 0;
    padding-bottom: 25px;
  }
  .partnership__content {
    padding: 0;
  }
  .partnership__items {
    margin-left: 30px;
    max-width: 100%;
    margin-left: 50px;
    padding: 0px 50px 17px 0;
  }
  .partnership__item {
    margin-top: 30px;
  }
  .partnership__item::before {
    top: 0;
  }
  .partnership__img-mobile {
    margin: 0 auto;
  }
  .partnership__img-mobile .allusersmobile {
    display: block;
    margin: 0 auto;
    max-width: 600px;
    max-height: 300px;
  }
  .list__buttom-mobile {
    max-width: 453px;
    margin: 0 auto;
    margin-top: 18px;
  }
  .partnership__button-mobile {
    width: 100%;
    display: block;
    height: 60px;
  }
}

@media (max-width: 767.98px) {
  .partnership__title {
    font-size: 23px;
    line-height: 25px;
  }
}

@media (max-width: 600.98px) {
  .imgPatership {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
  .partnership__img-mobile .allusersmobile {
    display: none;
  }
  .partnership__title {
    margin-left: 24px;
  }
  .partnership__items {
    margin-left: 0px;
  }
}

@media (max-width: 420.98px) {
  .partnership__item {
    margin-top: 30px;
  }
  .partnership__item::before {
    top: 15px;
  }
  .cabinet3::before {
    top: 5px;
  }
}

/***********************************************************
**************************red blocks******************************
***********************************************************/
.info {
  background: #e3004f;
  -webkit-box-shadow: -3px -3px 8px #ffffff, 2px 2px 6px rgba(174, 174, 192, 0.4), inset 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.09), inset -1.5px -1.5px 1.5px #ffffff;
          box-shadow: -3px -3px 8px #ffffff, 2px 2px 6px rgba(174, 174, 192, 0.4), inset 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.09), inset -1.5px -1.5px 1.5px #ffffff;
  border-radius: 15px;
  margin-top: 35px;
}

.info__contriner {
  padding: 36px 97px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  row-gap: 32px;
  -webkit-column-gap: 72px;
          column-gap: 72px;
}

.info__item {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  position: relative;
}

.info__item::before {
  position: absolute;
  content: "";
  background: url(../img/TickSquare.svg);
  width: 24px;
  height: 24px;
  display: inline-block;
  left: -49px;
  top: 7px;
}

/***********************************************************
**************************article***************************
***********************************************************/
.article {
  background: linear-gradient(317.85deg, #fafafa -11.18%, #f1f1f1 114.83%);
  -webkit-box-shadow: -3px -3px 8px #ffffff, 2px 2px 6px rgba(174, 174, 192, 0.4), inset 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.09), inset -1.5px -1.5px 1.5px #ffffff;
          box-shadow: -3px -3px 8px #ffffff, 2px 2px 6px rgba(174, 174, 192, 0.4), inset 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.09), inset -1.5px -1.5px 1.5px #ffffff;
  border-radius: 15px;
  margin-top: 98px;
}

.article__container {
  padding: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.article__content {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.article__items {
  padding-right: 48px;
}

.article__title {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 31px;
  text-transform: uppercase;
  color: #3e3e3e;
}

.article__text {
  margin-top: 32px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #272727;
  max-width: 414px;
}

.article__button {
  margin-top: 52px;
}

.article__send {
  display: block;
  width: 100%;
  padding: 20px 0;
  position: relative;
}

.article__img {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  position: relative;
}

.article__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  border-radius: 15px;
}

/***********************************************************
**************************team***************************
***********************************************************/
.team {
  margin-top: 80px;
}

.team__title {
  text-align: center;
}

.team__items {
  margin-top: 51px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 22px;
}

.team__item {
  background: linear-gradient(317.85deg, #fafafa -11.18%, #f1f1f1 114.83%);
  -webkit-box-shadow: -3px -3px 8px #ffffff, 2px 2px 6px rgba(174, 174, 192, 0.4), inset 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.09), inset -1.5px -1.5px 1.5px #ffffff;
          box-shadow: -3px -3px 8px #ffffff, 2px 2px 6px rgba(174, 174, 192, 0.4), inset 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.09), inset -1.5px -1.5px 1.5px #ffffff;
  border-radius: 7px;
}

.team__item:focus {
  outline: none;
}

.team__photo {
  position: relative;
  height: 185px;
}

.team__photo img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 7px;
}

.team__content {
  padding: 33px 24px;
}

.team__name {
  text-align: center;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: #272727;
  width: 120px;
  margin: 0 auto;
}

.team__number {
  text-align: center;
  position: relative;
  margin-top: 10px;
}

.team__number a {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  color: #3e3e3e;
  position: relative;
  left: 10px;
}

.team__number a::before {
  content: "";
  background: url(../img/Calling.svg);
  width: 18px;
  height: 17px;
  position: absolute;
  left: -25px;
}

.team__button {
  width: 100%;
  margin-top: 16px;
  padding: 20px 0;
}

.fewffew {
  width: 327px;
  position: relative;
}

.fewffew img {
  position: relative;
  z-index: 5;
}

.fewffew p {
  position: absolute;
  top: 50px;
  left: 50px;
}

/******team_media****************************************************/
@media (max-width: 991.98px) {
  .team__mobile {
    margin-top: 30px;
  }
  .team__items {
    display: none;
  }
  .team__photo {
    height: 185px;
  }
  .team__item {
    height: 386px;
    margin-right: 16px;
  }
  .team__title {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #3e3e3e;
  }
}

/* Точки (булиты) */
.slick-dots {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 25px;
}

.slick-dots li {
  list-style: none;
  margin: 0px 5px 0 5px;
}

/* Элемент точки */
.slick-dots li button {
  font-size: 0;
  width: 24px;
  height: 6px;
  background: linear-gradient(270.65deg, #f1f2f7 -9.34%, #edeef4 108.28%);
  -webkit-box-shadow: -4px -4px 15px rgba(255, 255, 255, 0.7), 3px 3.5px 13px rgba(0, 0, 0, 0.05), inset -3px -3px 6px #ffffff, inset 2px 2px 6px rgba(0, 0, 0, 0.1);
          box-shadow: -4px -4px 15px rgba(255, 255, 255, 0.7), 3px 3.5px 13px rgba(0, 0, 0, 0.05), inset -3px -3px 6px #ffffff, inset 2px 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  border: none;
  cursor: pointer;
}

.slick-dots li.slick-active button {
  background: #e3004f;
  -webkit-box-shadow: -3px -3px 8px #ffffff, 2px 2px 6px rgba(174, 174, 192, 0.4), inset 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.09);
          box-shadow: -3px -3px 8px #ffffff, 2px 2px 6px rgba(174, 174, 192, 0.4), inset 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.09);
  -webkit-animation: transform 1s linear;
          animation: transform 1s linear;
  -webkit-transform: translate(0, 0) scaleX(1);
          transform: translate(0, 0) scaleX(1);
}

.slick-dots li.slick-active button#slick-slide-control10,
.slick-dots li.slick-active button#slick-slide-control30,
.slick-dots li.slick-active button#slick-slide-control20 {
  -webkit-animation: firstdots 1s linear;
          animation: firstdots 1s linear;
  -webkit-transform: translate(0, 0) scaleX(1);
          transform: translate(0, 0) scaleX(1);
}

@-webkit-keyframes transform {
  0% {
    -webkit-transform: translate(0, 0) scaleX(1);
            transform: translate(0, 0) scaleX(1);
  }
  10% {
    -webkit-transform: translate(-20px, 0) scaleX(1.8);
            transform: translate(-20px, 0) scaleX(1.8);
  }
  80% {
    -webkit-transform: translate(-20px, 0) scaleX(1.8);
            transform: translate(-20px, 0) scaleX(1.8);
  }
  100% {
    -webkit-transform: translate(-5px, 0) scaleX(1.4);
            transform: translate(-5px, 0) scaleX(1.4);
  }
}

@keyframes transform {
  0% {
    -webkit-transform: translate(0, 0) scaleX(1);
            transform: translate(0, 0) scaleX(1);
  }
  10% {
    -webkit-transform: translate(-20px, 0) scaleX(1.8);
            transform: translate(-20px, 0) scaleX(1.8);
  }
  80% {
    -webkit-transform: translate(-20px, 0) scaleX(1.8);
            transform: translate(-20px, 0) scaleX(1.8);
  }
  100% {
    -webkit-transform: translate(-5px, 0) scaleX(1.4);
            transform: translate(-5px, 0) scaleX(1.4);
  }
}

@-webkit-keyframes firstdots {
  0% {
    -webkit-transform: translate(0, 0) scaleX(1);
            transform: translate(0, 0) scaleX(1);
  }
  10% {
    -webkit-transform: translate(20px, 0) scaleX(1.8);
            transform: translate(20px, 0) scaleX(1.8);
  }
  80% {
    -webkit-transform: translate(20px, 0) scaleX(1.8);
            transform: translate(20px, 0) scaleX(1.8);
  }
  100% {
    -webkit-transform: translate(5px, 0) scaleX(1.4);
            transform: translate(5px, 0) scaleX(1.4);
  }
}

@keyframes firstdots {
  0% {
    -webkit-transform: translate(0, 0) scaleX(1);
            transform: translate(0, 0) scaleX(1);
  }
  10% {
    -webkit-transform: translate(20px, 0) scaleX(1.8);
            transform: translate(20px, 0) scaleX(1.8);
  }
  80% {
    -webkit-transform: translate(20px, 0) scaleX(1.8);
            transform: translate(20px, 0) scaleX(1.8);
  }
  100% {
    -webkit-transform: translate(5px, 0) scaleX(1.4);
            transform: translate(5px, 0) scaleX(1.4);
  }
}

@media (max-width: 400px) {
  .team__item {
    opacity: 0.7;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    margin-right: 0;
  }
  .team__item.slick-center {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}

/***********************************************************
**************************reviews***************************
************************************************************/
.contact__info-cinteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews__ttile {
  text-align: center;
}

.reviews {
  margin-top: 90px;
}

.reviews__items {
  margin-top: 65px;
  position: relative;
}

.reviews__item {
  background: linear-gradient(317.85deg, #fafafa -11.18%, #f1f1f1 114.83%);
  -webkit-box-shadow: -3px -3px 8px #ffffff, 2px 2px 6px rgba(174, 174, 192, 0.4), inset 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.09), inset -1.5px -1.5px 1.5px #ffffff;
          box-shadow: -3px -3px 8px #ffffff, 2px 2px 6px rgba(174, 174, 192, 0.4), inset 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.09), inset -1.5px -1.5px 1.5px #ffffff;
  border-radius: 15px;
  opacity: 0.5;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  position: relative;
}

.reviews__img {
  position: absolute;
  top: 118px;
  left: 46px;
}

.reviews__container {
  padding: 48px 100px;
}

.reviews__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviews__info {
  margin-left: 27px;
}

.reviews__block-text {
  margin-top: 15px;
}

.reviews__text {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #3e3e3e;
}

.info__name {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: #272727;
}

.info__city {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #3e3e3e;
}

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  z-index: 2;
}

/* Слайд по центру */
div.slick-slide.slick-center {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/* Стрелка */
.reviews .slick-arrow {
  position: absolute;
  top: 50%;
  font-size: 0;
  width: 36px;
  height: 36px;
  margin-top: -18px;
  background: #292828;
  -webkit-box-shadow: -3px -3px 8px #ffffff, 2px 2px 6px rgba(174, 174, 192, 0.4), inset 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.09);
          box-shadow: -3px -3px 8px #ffffff, 2px 2px 6px rgba(174, 174, 192, 0.4), inset 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.09);
  border-radius: 7px;
  border: none;
  z-index: 2;
}

.reviews .slick-arrow:active {
  background: #534f4f;
  -webkit-box-shadow: inset -3px -3px 6px rgba(255, 255, 255, 0.22), inset 2px 2px 6px #000000;
          box-shadow: inset -3px -3px 6px rgba(255, 255, 255, 0.22), inset 2px 2px 6px #000000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.reviews .slick-arrow:active::before, .reviews .slick-arrow:active::after {
  width: 60px;
  height: 60px;
  content: "";
  border: 10px solid #fff;
  position: absolute;
  left: -22px;
  top: -23px;
  right: -20px;
  bottom: -20px;
  border-radius: 50%;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-animation: pulse 1s linear infinite;
          animation: pulse 1s linear infinite;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 1;
}

.reviews .slick-arrow:active::after {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 1;
  }
  30% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0.1;
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 1;
  }
  30% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0.1;
  }
}

/* Стрелка влево */
.reviews .slick-arrow.slick-prev {
  left: 0;
  background-image: url(../img/left.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* Стрелка вправо */
.reviews .slick-arrow.slick-next {
  right: 0;
  background-image: url(../img/right.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/**********reviews*******************************************************************************************/
@media (max-width: 767.98px) {
  .reviews__container {
    padding: 29px;
  }
  .reviews__ttile {
    font-size: 20px;
    line-height: 24px;
  }
  .reviews__img {
    top: 20px;
    left: 18px;
    color: #3e3e3e;
  }
}

@media (max-width: 575.98px) {
  .reviews__contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .reviews__stars {
    margin-top: 24px;
  }
}

/***********************************************************
**************************support***************************
************************************************************/
.support {
  margin-top: 80px;
  background: linear-gradient(317.85deg, #fafafa -11.18%, #f1f1f1 114.83%);
  -webkit-box-shadow: -3px -3px 8px #ffffff, 2px 2px 6px rgba(174, 174, 192, 0.4), inset 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.09), inset -1.5px -1.5px 1.5px #ffffff;
          box-shadow: -3px -3px 8px #ffffff, 2px 2px 6px rgba(174, 174, 192, 0.4), inset 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.09), inset -1.5px -1.5px 1.5px #ffffff;
  border-radius: 15px;
  position: relative;
}

.support__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 57px 0 77px;
  position: relative;
}

.support__img {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  min-width: 0;
  margin-bottom: -50px;
  top: -50px;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.support__img::before {
  position: absolute;
  content: "";
  background: url(../img/phoneMask.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 318px;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  z-index: 2;
}

.support__phone {
  position: absolute;
  width: 327px;
  left: 0;
  height: 556px;
  z-index: 2;
}

.support__full {
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
  position: relative;
  z-index: 1;
}

.support__title {
  padding-top: 60px;
  text-align: center;
}

.support__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  margin-top: 65px;
  row-gap: 75px;
  -webkit-column-gap: 38px;
          column-gap: 38px;
}

.support__item {
  padding: 0 0 0 14px;
  border-left: 3px solid #272727;
  height: 100%;
}

.support__sub-title {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #272727;
}

.support__text {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #272727;
  margin-top: 3px;
}

.support__scroll {
  position: relative;
  left: 20px;
  top: 5px;
  width: 280px;
  height: 554px;
  overflow: hidden;
}

.scroll__item {
  top: 20px;
  position: relative;
  overflow: hidden;
  z-index: 0;
  overflow: hidden;
  width: 300px;
  height: 580px;
}

.scroll__phone {
  top: -36px;
  position: absolute;
  width: 100%;
  height: 590px;
}

/******support media****************************************************/
@media (max-width: 1200.98px) {
  .support__container {
    padding: 0 20px 0 0;
  }
}

@media (max-width: 991.98px) {
  .support {
    margin-top: 28px;
    background: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .support__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .support__img {
    width: 280px;
    margin-bottom: 0px;
    top: 0px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0 auto;
    margin-top: 26px;
  }
  .support__img::before {
    max-width: 100%;
  }
  .support__full {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding-bottom: 0;
  }
  .support__title {
    padding-top: 0;
  }
  .support__items {
    margin-top: 39px;
  }
  .support__scroll {
    position: relative;
    left: 20px;
    top: 5px;
    width: 280px;
    height: 530px;
    overflow: hidden;
  }
  .scroll__item {
    top: 20px;
    right: 20px;
    width: 130px;
  }
  .scroll__phone {
    top: -61px;
    left: 20px;
    position: absolute;
    width: 250px;
  }
  .support__overflow {
    width: 270px;
    overflow: hidden;
  }
}

@media (max-width: 575.98px) {
  .support__items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    margin-top: 39px;
    row-gap: 28px;
  }
  .support__title {
    font-size: 23px;
    line-height: 26px;
    color: #3e3e3e;
    text-transform: uppercase;
  }
}

/*play-videos________________________________________________________*/
.animation__play {
  position: absolute;
  z-index: 3;
  -webkit-transform: scale(1);
          transform: scale(1);
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.play__container {
  display: inline-block;
  position: relative;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  border-radius: 50%;
}

.play__animation {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
}

.play__container:hover .play__animation {
  -webkit-animation: play 1s ease infinite alternate;
          animation: play 1s ease infinite alternate;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.play__border {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  width: 106px;
  height: 106px;
  margin-top: -55px;
  margin-left: -53px;
  opacity: 1;
  border: 1.88333px solid #fff;
}

.play__border::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  width: 123px;
  height: 123px;
  margin-top: -62px;
  margin-left: -63px;
  opacity: 1;
  border: 1.06957px solid #fff;
}

.play__border2 {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  margin-top: -70px;
  margin-left: -70px;
  opacity: 1;
  border: 0.7px solid #fff;
}

.play__border2::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  margin-top: -82px;
  margin-left: -81px;
  opacity: 1;
  border: 0.4px solid #fff;
}

@-webkit-keyframes play {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  50% {
    ransform: scale(1.2);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes play {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  50% {
    ransform: scale(1.2);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}

.play__circle {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
}

.circle__animation {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  background-color: #fff;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.circle__animation2 {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  background-color: #fff;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.circle__animation3 {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  background-color: #fff;
  -webkit-transform: scale(0);
          transform: scale(0);
}

@-webkit-keyframes circle {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.3;
  }
  50% {
    ransform: scale(2);
    opacity: 0.3;
  }
  100% {
    -webkit-transform: scale(3);
            transform: scale(3);
    opacity: 0.3;
  }
}

@keyframes circle {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.3;
  }
  50% {
    ransform: scale(2);
    opacity: 0.3;
  }
  100% {
    -webkit-transform: scale(3);
            transform: scale(3);
    opacity: 0.3;
  }
}

.play__container:hover .circle__animation,
.play__container:hover .circle__animation2 {
  -webkit-animation: circle 1s ease infinite alternate;
          animation: circle 1s ease infinite alternate;
}

.play__container:hover .circle__animation3 {
  -webkit-animation: circle 2s ease infinite 1s;
          animation: circle 2s ease infinite 1s;
}

.play__img {
  cursor: pointer;
  width: 100px;
  height: 100px;
  position: relative;
  z-index: 5;
}

@-webkit-keyframes transformImg {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes transformImg {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.play__container:hover .play__img {
  -webkit-animation: transformImg 1s ease infinite alternate;
          animation: transformImg 1s ease infinite alternate;
}

.play__svg {
  fill: #3e3e3e;
}

@-webkit-keyframes color {
  0% {
    fill: #3e3e3e;
  }
  100% {
    fill: #df4141;
  }
}

@keyframes color {
  0% {
    fill: #3e3e3e;
  }
  100% {
    fill: #df4141;
  }
}

.play__container:hover .play__svg {
  -webkit-animation: color 1s ease infinite alternate;
          animation: color 1s ease infinite alternate;
}

.__play {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media (max-width: 992.98px) {
  .play__container4 {
    top: 35%;
  }
}

@media (max-width: 575.98px) {
  .play__container {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@media (max-width: 767.98px) {
  .animation__play {
    display: none;
  }
}

/* .transform {
	transform: scale(2);
}
 */
