@import "_reset";
* {
	outline: none;
}
html,
body {
	height: 100%;
}

.wraper {
	width: 100%;
	background: #f6f7fa;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.container {
	max-width: 1430px;
	margin: 0 auto;
	overflow: hidden;
}

.wrap {
	margin: 0 20px;
	display: flex;
	flex-direction: column;
}

@media (max-width: 991.98px) {
	.main__sale {
		order: 1;
	}
	.company {
		order: 2;
	}

	.shipping {
		order: 3;
	}

	.form1 {
		order: 4;
	}

	.partnership {
		order: 7;
	}
	.info {
	}
	.article {
	}
	.team {
		order: 5;
	}

	.reviews {
		order: 6;
	}
	.support {
		order: 8;
	}

	.form2 {
		order: 9;
	}
}

.main {
	flex: 1 1 auto;
}
.footer {
}

@mixin font($weigh) {
	font-family: "Gilroy";
	font-style: normal;
	font-weight: $weigh;
}

/******sale*********************************************************/
.video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 15px;
}
.main {
	&__sale {
		display: flex;
		margin: 70px -20px 0 -20px;
	}
}

.sale {
	&__content {
		flex-basis: 40%;
		margin: 0 20px 0 20px;
	}

	&__title {
	}

	&__text {
		@include font(normal);
		font-size: 22px;
		line-height: 26px;
		color: #272727;
		max-width: 457px;
		margin-top: 33px;
	}

	&__form {
		margin-top: 33px;
		display: flex;
		flex-direction: column;
		max-width: 453px;
		text-align: center;
	}

	&__input {
		margin-bottom: 22px;
		padding: 16px 18px;
		background: linear-gradient(270.65deg, #f1f2f7 -9.34%, #edeef4 108.28%);
		border: 0.138889px solid rgba(255, 255, 255, 0.47);
		box-sizing: border-box;
		box-shadow: -4px -4px 8px rgba(255, 255, 255, 0.7), 3px 3.5px 10px rgba(0, 0, 0, 0.05),
			inset -4px -4px 7.5px rgba(255, 255, 255, 0.8), inset 4px 4px 7.5px rgba(0, 0, 0, 0.1);
		border-radius: 7px;
		@include font(bold);
		font-size: 16px;
		line-height: 19px;
		color: #3e3e3e;
	}

	&__button {
		position: relative;
		background: inherit;
		border: none;
		cursor: pointer;
		padding: 15px;
		position: relative;
		margin-top: 22px;
	}

	&__video {
		margin: 0px 20px 0 20px;
		position: relative;
		flex-basis: 60%;
		border-radius: 15px;
		display: flex;
		justify-content: center;
		align-items: center;
		aspect-ratio: 16 / 9;
	}
}

.title {
	@include font(bold);
	font-size: 46px;
	line-height: 56px;
	color: #272727;
}

.button__svg {
	position: absolute;
	height: 19px;
	width: 19px;
	fill: #fff;
	right: 15px;
}
input::placeholder {
	@include font(normal);
	font-size: 16px;
	line-height: 19px;
	color: #3e3e3e;
	opacity: 0.7;
}
.button {
	background: radial-gradient(53.76% 96.05% at 48.12% 55.42%, #292828 0%, #343434 100%);
	box-shadow: -3px -3px 8px #ffffff, 2px 2px 6px rgba(174, 174, 192, 0.4), inset 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.09);
	border-radius: 7px;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: #ffffff;
	position: relative;
	cursor: pointer;
	border: none;
	box-sizing: border-box;
}

.button:hover {
	background: linear-gradient(113.72deg, #27ae60 -2.44%, #289b59 104.54%);
	box-sizing: border-box;
	box-shadow: -3px -3px 8px rgba(255, 255, 255, 0.7), 3px 3.5px 10px rgba(0, 0, 0, 0.05),
		inset 1.5px 1.5px 1.5px rgba(255, 255, 255, 0.3), inset 4px 4px 10.5px rgba(0, 0, 0, 0.4);
}

.button:focus {
	background: radial-gradient(52.73% 186.01% at 50% 50%, #534f4f 0%, #5b5858 100%);
	box-shadow: inset -3px -3px 6px rgba(255, 255, 255, 0.22), inset 2px 2px 6px #000000;
}
.number__phone:valid {
	background-color: green;
}
/*select__city**********************************************************************/
.form__select {
	position: relative;
}
.block-select {
	display: block;
}
.__none {
	display: none;
}

.form__select.__is-active .select__body {
	display: block;
}
.select {
	&__city {
		background: linear-gradient(270.65deg, #f1f2f7 -9.34%, #edeef4 108.28%);
		border: 0.138889px solid rgba(255, 255, 255, 0.47);
		box-sizing: border-box;
		box-shadow: -4px -4px 8px rgba(255, 255, 255, 0.7), 3px 3.5px 10px rgba(0, 0, 0, 0.05),
			inset -4px -4px 7.5px rgba(255, 255, 255, 0.8), inset 4px 4px 7.5px rgba(0, 0, 0, 0.1);
		border-radius: 7px;
		position: relative;
	}

	&__current {
		@include font(bold);
		font-size: 16px;
		line-height: 19px;
		color: #3e3e3e;
		padding: 16px 18px;
		display: block;
		text-align: left;
		& p {
			@include font(normal);
			opacity: 0.7;
		}
	}

	&__icon {
		position: absolute;
		right: 20px;
		top: 50%;
		border: 7px solid transparent;
		border-top: 7px solid #000;
	}

	&__body {
		position: absolute;
		left: 0;
		right: 0;
		top: 100%;
		z-index: 2;
		background: linear-gradient(270.65deg, #f1f2f7 -9.34%, #edeef4 108.28%);
		border: 0.138889px solid rgba(255, 255, 255, 0.47);
		box-sizing: border-box;
		box-shadow: -4px -4px 8px rgba(255, 255, 255, 0.7), 3px 3.5px 10px rgba(0, 0, 0, 0.05),
			inset -4px -4px 7.5px rgba(255, 255, 255, 0.8), inset 4px 4px 7.5px rgba(0, 0, 0, 0.1);
		border-top: none;
		display: none;
		overflow: auto;
		font-size: 16px;
		line-height: 19px;
		@include font(bold);
	}

	&__item {
		line-height: 24px;
		padding: 8px;
		&:hover {
			background: radial-gradient(53.76% 96.05% at 48.12% 55.42%, #292828 0%, #343434 100%);
			color: #fff;
		}
	}
}

.mobile {
	display: none;
}

/*media block-1*************************************************************************************
****************************************************************************************************/

@media (max-width: 1199.98px) {
	.title {
		font-size: 35px;
	}
}

@media (max-width: 991.98px) {
	.desctop {
		display: none;
	}
	.mobile {
		display: block;
	}
	.main__sale {
		flex-wrap: wrap;
		margin: 0;
	}

	.sale__text {
		@include font(300);
		font-size: 14.3697px;
		line-height: 17px;
		margin: 20px 0 28px 0;
	}

	.video1 {
		position: relative;
	}
	.sale__content {
		flex-basis: 100%;
		margin: 20px 0 0 0;
	}

	.sale__video {
		display: flex;
		flex-direction: column;
		margin: 0px;
		position: relative;
		flex-basis: 100%;
		border-radius: 15px;
		justify-content: center;
		align-items: center;
		aspect-ratio: 10 / 5;
	}
	.sale__input {
		width: 100%;
	}
	.sale__button {
		width: 100%;
	}
	.sale__form {
		margin: 28px auto 0 auto;
	}
}

@media (max-width: 575.98px) {
	.sale__title {
		font-size: 24px;
		line-height: 29px;
	}
}
/***********************************************************
**************************company***************************
************************************************************/
.company__link-sale {
	display: flex;
	width: 100%;
}
.company {
	margin-top: 134px;
	background: linear-gradient(317.85deg, #fafafa -11.18%, #f1f1f1 114.83%);
	box-shadow: -3px -3px 8px #ffffff, 2px 2px 6px rgba(174, 174, 192, 0.4), inset 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.09),
		inset -1.5px -1.5px 1.5px #ffffff;
	border-radius: 15px;
	padding-bottom: 48px;
	&__title {
		padding-top: 76px;
		text-align: center;
	}

	&__conteiner {
		display: flex;
		margin-top: 66px;
	}

	&__video {
		flex-basis: 100%;
		position: relative;

		margin: 0 48px;
	}

	&__content {
		flex: 0 1 50%;
		display: flex;
		justify-content: center;
	}

	&__info {
		display: flex;
		flex-direction: column;
		max-width: 451px;
		height: 100%;
		align-items: center;
		margin-right: 10px;
		position: relative;
		top: -20px;
	}

	&__sub-title {
		@include font(500);
		font-size: 16.8728px;
		line-height: 22px;
		text-align: center;
		color: #272727;
		margin-top: 40px;
	}

	&__baner {
		width: 100%;
		margin-top: 16px;
	}

	&__list {
		display: flex;
		flex-direction: column;
		padding-left: 39px;
		margin-top: 20px;
		margin: 51px 0;
	}

	&__item {
		@include font(normal);
		font-size: 15px;
		line-height: 18px;
		color: #272727;
		margin-top: 11px;
		position: relative;
		&:first-of-type {
			margin-top: 0;
		}
		&:last-of-type {
			margin-top: 17px;
		}
		&::before {
			content: "";
			background: url(../img/company__okey.svg);
			position: absolute;
			width: 24px;
			height: 24px;
			left: -40px;
			top: 5px;
		}

		&:last-of-type::before {
			top: -3px;
		}
	}

	&__button {
		width: 100%;
		padding: 20px 0;
	}
}

.sub-title__strong {
	@include font(bold);
	font-size: 24px;
}
.title {
}
.button {
}

/*company__media*************************************************************************************
****************************************************************************************************/
@media (max-width: 991.98px) {
	.company {
		margin-top: 47px;
		background: inherit;
		box-shadow: none;
		padding-bottom: 0;
	}

	.company__title {
		padding-top: 0px;
		color: #3e3e3e;
	}
	.company__info {
		position: relative;
		top: 0;
	}
	.company__conteiner {
		display: flex;
		flex-direction: column;
		margin-top: 0px;
	}

	.company__video {
		flex-basis: 100%;
		order: 2;
		margin: 0;
		aspect-ratio: 10 / 5;
		height: 350px;
	}

	.video2 {
		position: relative;
	}

	.company__button {
		max-width: 453px;
		margin: 29px auto 0 auto;
	}
	.company__content {
		flex: 0 1 100%;
		order: 1;
	}

	.company__sub-title {
		text-align: left;
		margin-top: 22px;
		@include font(normal);
		font-size: 16px;
	}
	.sub-title__strong {
		@include font(normal);
		font-size: 16px;
	}

	.company__list {
		margin: 43px 0;
	}
	.company__item {
		@include font(500);
		font-size: 17px;
		line-height: 21px;
	}
}

@media (max-width: 575.98px) {
	.company__title {
		font-size: 23px;
		line-height: 26px;
		text-transform: uppercase;
	}
	.company__baner {
		height: 57px;
	}

	.company__video {
		flex-basis: 100%;
		order: 2;
		margin: 0;
		aspect-ratio: 10 / 5;
		height: 238px;
	}
}

/***********************************************************
***********************shipping*****************************
***********************************************************/

.shipping {
	margin-top: 129px;
	&__desctop {
	}
}
.shippink {
	&__conteiner {
		display: flex;
	}

	&__content {
		flex: 0 1 55%;
	}

	&__title {
	}

	&__text {
		margin-top: 7px;
	}

	&__geo {
		flex: 0 1 45%;
		display: flex;
		justify-content: flex-end;
	}

	&__media {
	}
}

.text {
	&__item {
		@include font(normal);
		font-size: 22px;
		line-height: 26px;
		color: #272727;
		margin-top: 20px;
	}
}
.geo {
	&__items {
		width: 356px;
		background: linear-gradient(317.85deg, #fafafa -11.18%, #f1f1f1 114.83%);
		box-shadow: -3px -3px 8px #ffffff, 2px 2px 6px rgba(174, 174, 192, 0.4),
			inset 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.09), inset -1.5px -1.5px 1.5px #ffffff;
		border-radius: 15px;
		display: flex;
		justify-content: center;
		padding: 25px 0;
	}
	&__list {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

	&__item {
		@include font(normal);
		font-size: 15px;
		line-height: 18px;
		color: #272727;
		position: relative;
		&::before {
			content: "";
			width: 24px;
			height: 24px;
			background: url(../img/geo.svg);
			position: absolute;
			left: -43px;
			top: -2px;
		}
	}
}

/*shipping__media*************************************************************************************
****************************************************************************************************/

@media (max-width: 991.98px) {
	.mobile__title {
		text-align: center;
		margin-bottom: 23px;
	}
	.slider__item {
		width: 100%;
		height: auto;
		aspect-ratio: 10 / 5;
		background: linear-gradient(317.85deg, #fafafa -11.18%, #f1f1f1 114.83%);
		box-shadow: -3px -3px 8px #ffffff, 2px 2px 6px rgba(0, 0, 0, 0.1), inset 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.09),
			inset -1.5px -1.5px 1.5px #ffffff;
		border-radius: 7px;
		height: 373px;
		h5.slider__geo {
			@include font(bold);
			padding: 21px 0 17px 0;
			margin-left: 57px;
			font-size: 18px;
			line-height: 19px;
			color: #3e3e3e;
			position: relative;
			&::before {
				content: "";
				background: url(../img/geo.svg);
				width: 24px;
				height: 24px;
				position: absolute;
				left: -36px;
				top: 25px;
			}
			& span {
				@include font(normal);
				display: block;
				font-size: 14px;
			}
		}
	}

	.slider__item {
		opacity: 0.7;
		transform: scale(0.9);
		& img {
			position: relative;
			width: 100%;
			height: 300px;
			object-fit: cover;
			border-radius: 7px;
		}

		& iframe {
			border-radius: 7px;
		}
	}
	.video__slider {
		aspect-ratio: 10 / 5;
		position: relative;
		width: 100%;
		height: 300px;
	}

	/* Лента слайдов */
	.slick-track {
		display: flex;
	}
	.slider__item.slick-center {
		opacity: 1;
		transform: scale(1);
		transition: all 0.3s;
	}
}

@media (max-width: 575.98px) {
	.slider__item {
		height: 266px;
	}
	.mobile__title {
		font-size: 20px;
		line-height: 24px;
		text-transform: uppercase;
		color: #3e3e3e;
	}

	.slider__item {
		& img {
			height: 183px;
		}
	}

	.video__slider {
		height: 183px;
	}
}
/**********media-desctop*****************************************
*****************************************************************
****************************************************************/

.shippink__media {
	margin-top: 45px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 280px 280px;
	gap: 20px;
}
.media {
	&__content {
		position: relative;
		border-radius: 15px;
	}
}

.video {
}
.video-grid {
}

.img {
	&__car {
		position: absolute;
		object-fit: cover;
		width: 100%;
		height: 100%;
		border-radius: 15px;
	}
}
.car-video {
	grid-column-start: span 4;
}
.car1 {
	grid-column-start: span 2;
}
.car2 {
	grid-column-start: span 3;
}
.car3 {
	grid-column-start: span 3;
}
.car4 {
	grid-column-start: span 4;
}
.car5 {
	grid-column-start: span 2;
}

/***********************************************************
**************************form******************************
***********************************************************/
.input {
	background: linear-gradient(270.65deg, #f1f2f7 -9.34%, #edeef4 108.28%);
	border: 0.138889px solid rgba(255, 255, 255, 0.47);
	box-sizing: border-box;
	box-shadow: -4px -4px 8px rgba(255, 255, 255, 0.7), 3px 3.5px 10px rgba(0, 0, 0, 0.05),
		inset -4px -4px 7.5px rgba(255, 255, 255, 0.8), inset 4px 4px 7.5px rgba(0, 0, 0, 0.1);
	border-radius: 7px;
	padding: 16px 18px;
	width: 100%;
	font-size: 16px;
	line-height: 19px;
	color: #3e3e3e;
	@include font(bold);
}

.form {
	margin-top: 81px;
	background: linear-gradient(317.85deg, #fafafa -11.18%, #f1f1f1 114.83%);
	box-shadow: -3px -3px 8px #ffffff, 2px 2px 6px rgba(174, 174, 192, 0.4), inset 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.09),
		inset -1.5px -1.5px 1.5px #ffffff;
	border-radius: 15px;
	&__conteiner {
		padding: 48px 48px 39px 48px;
	}

	&__title {
		@include font(bold);
		font-size: 39.5px;
		line-height: 48px;
		text-align: center;
		color: #272727;
	}

	&__sub-title {
		@include font(bold);
		font-size: 15px;
		line-height: 18px;
		color: #272727;
		margin-top: 33px;
	}

	&__info {
		display: flex;
		width: 100%;
		justify-content: space-between;
		margin: 19px -10px 0 -10px;
	}

	&__range {
		flex-basis: 31%;
		margin: 0 10px;
	}

	&__name {
		@include font(normal);
		font-size: 10px;
		line-height: 12px;
		color: #3e3e3e;
		margin-bottom: 5px;
	}

	&__select {
	}

	&__number {
		flex-basis: 23%;
		margin: 0 10px;
		position: relative;
		& .number__phone {
			@include font(normal);
			padding-left: 50px;
			font-size: 16px;
			line-height: 19px;
			color: #333333;
			&::placeholder {
				opacity: 1;
			}
		}
		& .ukraine-img {
			position: absolute;
			left: 18px;
			top: 33px;
		}
	}

	&__user {
		flex-basis: 23%;
		margin: 0 10px;
	}

	&__city {
		flex-basis: 23%;
		margin-left: 10px;
	}

	&__button {
		display: block;
		text-align: center;
		margin-top: 47px;
		& .button__send {
			width: 270px;
			height: 60px;
			position: relative;
		}
	}
}

.button__text {
	position: relative;
	left: -20px;
}
.buttom__telegram {
	width: 18px;
	height: 18px;
	position: absolute;
	right: 22px;
	top: 19px;
	height: 21px;
}

/******form_media****************************************************/
@media (max-width: 1250px) {
	.form {
		&__range {
			flex-basis: 22%;
		}

		&__number {
			flex-basis: 32%;
		}

		&__user {
			flex-basis: 23%;
		}

		&__city {
			flex-basis: 23%;
		}
	}
}

@media (max-width: 991.98px) {
	.form__conteiner {
		padding: 0;
	}

	.form {
		background: inherit;
		box-shadow: none;
		margin-top: 48px;
	}

	.form__title {
		font-size: 23px;
		line-height: 26px;
		text-transform: uppercase;
		color: #3e3e3e;
	}

	.form__sub-title {
		margin-top: 20px;
		@include font(normal);
		font-size: 16px;
		line-height: 16px;
		color: #272727;
		text-align: center;
	}
	.form__info {
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		max-width: 453px;
	}
	.form__input {
		margin: 12px 0 0 0;
	}
	.form__button {
		max-width: 453px;
		margin: 20px auto 0 auto;
	}
	.form__button .button__send {
		width: 100%;
	}
}

@media (max-width: 490.98px) {
	.form__title {
		text-align: left;
	}
	.form__sub-title {
		text-align: left;
	}
}

.validblock {
	&::after {
		content: "";
		background: url(../img/succes.svg);
		background-repeat: no-repeat;
		width: 21px;
		height: 20px;
		position: absolute;
		right: 15px;
		top: 32px;
		z-index: 5;
		display: block;
	}
}

.valid {
	border: 1px solid #27ae60;
	position: relative;
}
/***********************************************************
**************************partnership******************************
***********************************************************/

.partnership {
	margin-top: 95px;
	&__title {
		margin-left: 24px;
	}

	&__text {
		@include font(normal);
		font-size: 22.5px;
		line-height: 26px;
		color: #272727;
		max-width: 836px;
		margin: 30px 0 30px 24px;
	}

	&__container {
		background: linear-gradient(317.85deg, #fafafa -11.18%, #f1f1f1 114.83%);
		box-shadow: -3px -3px 8px #ffffff, 2px 2px 6px rgba(174, 174, 192, 0.4),
			inset 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.09), inset -1.5px -1.5px 1.5px #ffffff;
		border-radius: 15px;
	}

	&__content {
		display: flex;
		padding-top: 59px;
	}

	&__list {
		padding-right: 20px;
		flex-basis: 40%;
	}

	&__sub-title {
		@include font(bold);
		font-size: 41px;
		line-height: 29px;
		color: #272727;
		margin-left: 50px;
		& span {
			display: block;
			font-size: 27.5px;
			line-height: 29px;
			color: #272727;
		}
	}

	&__items {
		max-width: 350px;
		margin-left: 50px;

		padding: 70px 50px 49px 0;
	}

	&__item {
		margin-top: 71px;
		@include font(500);
		font-size: 16px;
		line-height: 19px;
		color: #272727;
		position: relative;
		left: 39px;
	}

	&__img {
		background: url(../img/allusers.png);
		background-repeat: no-repeat;
		background-size: cover;

		width: 100%;
		flex-basis: 60%;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: flex-end;
	}

	&__fon {
	}

	&__phone {
		position: absolute;
		left: -35px;
		bottom: 0;
	}

	&__button {
		width: 313px;
		height: 50px;
		position: relative;
		bottom: 48px;
		left: 40px;
		& span {
			position: relative;
			left: -20px;
		}
		&::after {
			content: "";
			background: url(../img/sparow-right.svg);
			width: 24px;
			height: 24px;
			position: absolute;
			display: block;
			right: 19px;
			top: 13px;
		}
	}
}
.title {
}
.cabinet1 {
	&::before {
		position: absolute;
		content: "";
		background: url(../img/Chat.svg);
		width: 22px;
		height: 22px;
		left: -39px;
		top: 5px;
	}
}
.cabinet2 {
	&::before {
		position: absolute;
		content: "";
		background: url(../img/MoreSquare.svg);
		width: 20px;
		height: 20px;
		left: -39px;
		top: 5px;
	}
}
.cabinet3 {
	&::before {
		position: absolute;
		content: "";
		background: url(../img/Chart2.svg);
		width: 22px;
		height: 22px;
		left: -39px;
		top: 5px;
	}
}
.cabinet4 {
	&::before {
		position: absolute;
		content: "";
		background: url(../img/Bag2.svg);
		width: 19px;
		height: 20px;
		left: -39px;
		top: 5px;
	}
}
.button {
}
.imgPatership {
	display: none;
}
/******partnership****************************************************/

@media (max-width: 991.98px) {
	.partnership__img,
	.partnership__text,
	.partnership__sub-title {
		display: none;
	}
	.partnership {
		margin-top: 48px;
		background: linear-gradient(317.85deg, #fafafa -11.18%, #f1f1f1 114.83%);
		box-shadow: -3px -3px 8px #ffffff, 2px 2px 6px rgba(174, 174, 192, 0.4),
			inset 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.09), inset -1.5px -1.5px 1.5px #ffffff;
		border-radius: 15px;
	}
	.partnership__container {
		background: inherit;
		box-shadow: none;
	}
	.partnership__title {
		color: #3e3e3e;
		margin-top: 24px;
		margin-left: 70px;
	}

	.partnership__list {
		flex-basis: 100%;
		margin: 0 24px;
		padding-right: 0;
		padding-bottom: 25px;
	}
	.partnership__content {
		padding: 0;
	}
	.partnership__items {
		margin-left: 30px;
		max-width: 100%;
		margin-left: 50px;
		padding: 0px 50px 17px 0;
	}
	.partnership__item {
		margin-top: 30px;

		&::before {
			top: 0;
		}
	}

	.cabinet1 {
		&::before {
		}
	}
	.cabinet2 {
		&::before {
		}
	}
	.cabinet3 {
		&::before {
		}
	}
	.cabinet4 {
		&::before {
		}
	}
	.partnership__img-mobile {
		margin: 0 auto;
		.allusersmobile {
			display: block;
			margin: 0 auto;
			max-width: 600px;
			max-height: 300px;
		}
	}

	.list__buttom-mobile {
		max-width: 453px;
		margin: 0 auto;
		margin-top: 18px;
	}
	.partnership__button-mobile {
		width: 100%;
		display: block;
		height: 60px;
	}
}

@media (max-width: 767.98px) {
	.partnership__title {
		font-size: 23px;
		line-height: 25px;
	}
}

@media (max-width: 600.98px) {
	.imgPatership {
		display: block;
		margin: 0 auto;
		max-width: 100%;
	}

	.partnership__img-mobile {
		.allusersmobile {
			display: none;
		}
	}

	.partnership__title {
		margin-left: 24px;
	}
	.partnership__items {
		margin-left: 0px;
	}
}

@media (max-width: 420.98px) {
	.partnership__item {
		margin-top: 30px;

		&::before {
			top: 15px;
		}
	}

	.cabinet1 {
		&::before {
		}
	}
	.cabinet2 {
		&::before {
		}
	}
	.cabinet3 {
		&::before {
			top: 5px;
		}
	}
	.cabinet4 {
		&::before {
		}
	}
}

/***********************************************************
**************************red blocks******************************
***********************************************************/

.info {
	background: #e3004f;
	box-shadow: -3px -3px 8px #ffffff, 2px 2px 6px rgba(174, 174, 192, 0.4), inset 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.09),
		inset -1.5px -1.5px 1.5px #ffffff;
	border-radius: 15px;
	margin-top: 35px;

	&__contriner {
		padding: 36px 97px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		row-gap: 32px;
		column-gap: 72px;
	}

	&__item {
		@include font(500);
		font-size: 16px;
		line-height: 19px;
		color: #ffffff;
		position: relative;
		&::before {
			position: absolute;
			content: "";
			background: url(../img/TickSquare.svg);
			width: 24px;
			height: 24px;
			display: inline-block;
			left: -49px;
			top: 7px;
		}
	}
}

/***********************************************************
**************************article***************************
***********************************************************/

.article {
	background: linear-gradient(317.85deg, #fafafa -11.18%, #f1f1f1 114.83%);
	box-shadow: -3px -3px 8px #ffffff, 2px 2px 6px rgba(174, 174, 192, 0.4), inset 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.09),
		inset -1.5px -1.5px 1.5px #ffffff;
	border-radius: 15px;
	margin-top: 98px;
	&__container {
		padding: 47px;
		display: flex;
	}

	&__content {
		flex-basis: 40%;
	}

	&__items {
		padding-right: 48px;
	}

	&__title {
		@include font(bold);
		font-size: 23px;
		line-height: 31px;
		text-transform: uppercase;
		color: #3e3e3e;
	}

	&__text {
		margin-top: 32px;
		@include font(normal);
		font-size: 16px;
		line-height: 22px;
		color: #272727;
		max-width: 414px;
	}

	&__button {
		margin-top: 52px;
	}

	&__send {
		display: block;
		width: 100%;
		padding: 20px 0;
		position: relative;
	}

	&__img {
		flex-basis: 60%;
		position: relative;

		& img {
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
			top: 0;
			border-radius: 15px;
		}
	}
}
.button {
	&__text {
	}
}
.buttom {
	&__telegram {
	}
}

/***********************************************************
**************************team***************************
***********************************************************/
.team {
	margin-top: 80px;
	&__title {
		text-align: center;
	}

	&__items {
		margin-top: 51px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		gap: 22px;
	}

	&__item {
		background: linear-gradient(317.85deg, #fafafa -11.18%, #f1f1f1 114.83%);
		box-shadow: -3px -3px 8px #ffffff, 2px 2px 6px rgba(174, 174, 192, 0.4),
			inset 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.09), inset -1.5px -1.5px 1.5px #ffffff;
		border-radius: 7px;
		&:focus {
			outline: none;
		}
	}

	&__photo {
		position: relative;
		height: 185px;
		& img {
			position: absolute;
			width: 100%;
			height: 100%;

			object-fit: cover;
			border-radius: 7px;
		}
	}

	&__content {
		padding: 33px 24px;
	}

	&__name {
		text-align: center;
		@include font(bold);
		font-size: 18px;
		line-height: 18px;
		color: #272727;
		width: 120px;
		margin: 0 auto;
	}

	&__number {
		text-align: center;
		position: relative;
		margin-top: 10px;
		& a {
			@include font(500);
			font-size: 13px;
			line-height: 20px;
			color: #3e3e3e;
			position: relative;
			left: 10px;
			&::before {
				content: "";
				background: url(../img/Calling.svg);
				width: 18px;
				height: 17px;
				position: absolute;
				left: -25px;
			}
		}
	}

	&__button {
		width: 100%;
		margin-top: 16px;
		padding: 20px 0;
	}
}
.title {
}
.button {
}

.fewffew {
	width: 327px;
	position: relative;

	& img {
		position: relative;
		z-index: 5;
	}
	& p {
		position: absolute;
		top: 50px;
		left: 50px;
	}
}

/******team_media****************************************************/

@media (max-width: 991.98px) {
	.team__mobile {
		margin-top: 30px;
	}
	.team__items {
		display: none;
	}
	.team__photo {
		height: 185px;
	}
	.team__item {
		height: 386px;
		margin-right: 16px;
	}
	.team__title {
		font-size: 20px;
		line-height: 24px;
		text-align: center;
		color: #3e3e3e;
	}
}
/* Точки (булиты) */
.slick-dots {
	display: flex !important;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 25px;
}
.slick-dots li {
	list-style: none;
	margin: 0px 5px 0 5px;
}
/* Элемент точки */
.slick-dots li button {
	font-size: 0;
	width: 24px;
	height: 6px;
	background: linear-gradient(270.65deg, #f1f2f7 -9.34%, #edeef4 108.28%);
	box-shadow: -4px -4px 15px rgba(255, 255, 255, 0.7), 3px 3.5px 13px rgba(0, 0, 0, 0.05), inset -3px -3px 6px #ffffff,
		inset 2px 2px 6px rgba(0, 0, 0, 0.1);
	border-radius: 7px;
	border: none;
}

.slick-dots li.slick-active button {
	background: #e3004f;
	box-shadow: -3px -3px 8px #ffffff, 2px 2px 6px rgba(174, 174, 192, 0.4), inset 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.09);
	animation: transform 0.3s linear;
	transform: translate(0, 0) scaleX(1);
	transition: all 0.3s;
}

@keyframes transform {
	0% {
		transform: translate(0, 0) scaleX(1);
	}
	10% {
		transform: translate(-20px, 0) scaleX(1.8);
	}
	100% {
		transform: translate(-20px, 0) scaleX(1.8);
	}
}

@media (max-width: 400px) {
	.team__item {
		opacity: 0.7;
		transform: scale(0.9);
		margin-right: 0;
	}
	.team__item.slick-center {
		opacity: 1;
		transform: scale(1);
		transition: all 0.3s;
	}
}
/***********************************************************
**************************reviews***************************
************************************************************/
.contact__info-cinteiner {
	display: flex;
}
.reviews__ttile {
	text-align: center;
}
.reviews {
	margin-top: 90px;
	&__items {
		margin-top: 65px;
		position: relative;
	}

	&__item {
		background: linear-gradient(317.85deg, #fafafa -11.18%, #f1f1f1 114.83%);
		box-shadow: -3px -3px 8px #ffffff, 2px 2px 6px rgba(174, 174, 192, 0.4),
			inset 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.09), inset -1.5px -1.5px 1.5px #ffffff;
		border-radius: 15px;
		opacity: 0.5;
		transform: scale(0.9);
		position: relative;
	}

	&__img {
		position: absolute;
		top: 118px;
		left: 46px;
	}

	&__container {
		padding: 48px 100px;
	}

	&__contact {
		display: flex;
		justify-content: space-between;
	}

	&__photo {
	}

	&__info {
		margin-left: 27px;
	}

	&__reting {
	}

	&__block-text {
		margin-top: 15px;
	}

	&__text {
		@include font(normal);
		font-size: 16px;
		line-height: 22px;
		color: #3e3e3e;
	}
}
.info {
	&__name {
		@include font(bold);
		font-size: 18px;
		line-height: 18px;
		color: #272727;
	}

	&__city {
		@include font(normal);
		font-size: 16px;
		line-height: 22px;
		color: #3e3e3e;
	}
}

/* Слайдер */
.slick-slider {
}
/* Слайдер запущен */
.slick-slider.slick-initialized {
}
/* Слайдер с точками */
.slick-slider.slick-dotted {
}
/* Ограничивающая оболочка */
.slick-list {
}
/* Лента слайдов */
.slick-track {
	display: flex;
	align-items: flex-start;
	z-index: 2;
}
/* Слайд */
.slick-slide {
}
/* Слайд активный (показывается) */
.slick-slide.slick-active {
}
/* Слайд основной */
.slick-slide.slick-current {
}
/* Слайд по центру */
.slick-slide.slick-center {
	opacity: 1;
	transform: scale(1);
	transition: all 0.3s;
}
/* Клонированный слайд */
.slick-slide.slick-cloned {
}
/* Стрелка */
.reviews .slick-arrow {
	position: absolute;
	top: 50%;
	font-size: 0;
	width: 36px;
	height: 36px;
	margin-top: -18px;
	background: #292828;
	box-shadow: -3px -3px 8px #ffffff, 2px 2px 6px rgba(174, 174, 192, 0.4), inset 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.09);
	border-radius: 7px;
	border: none;
	z-index: 2;
	&:active {
		background: #534f4f;
		box-shadow: inset -3px -3px 6px rgba(255, 255, 255, 0.22), inset 2px 2px 6px #000000;
		transition: all 0.3s;
	}
	&:active::before,
	&:active::after {
		width: 60px;
		height: 60px;
		content: "";
		border: 10px solid #fff;
		position: absolute;
		left: -22px;
		top: -23px;
		right: -20px;
		bottom: -20px;
		border-radius: 50%;
		transform: scale(0.5);
		animation: pulse 1s linear infinite;
		transform: scale(0);
		opacity: 1;
	}
	&:active::after {
		animation-delay: 0.5s;
	}
	@keyframes pulse {
		0% {
			transform: scale(0.8);
			opacity: 1;
		}
		30% {
			opacity: 1;
			transform: scale(1);
		}
		50% {
			transform: scale(1.2);
			opacity: 0.5;
		}
		100% {
			transform: scale(2);
			opacity: 0.1;
		}
	}
}
/* Стрелка влево */
.reviews .slick-arrow.slick-prev {
	left: 0;
	background-image: url(../img/left.svg);
	background-repeat: no-repeat;
	background-position: center;
}
/* Стрелка вправо */
.reviews .slick-arrow.slick-next {
	right: 0;
	background-image: url(../img/right.svg);
	background-repeat: no-repeat;
	background-position: center;
}
/* Стрелка не активная */
.reviews.slick-arrow.slick-disabled {
}

/**********reviews*******************************************************************************************/

@media (max-width: 767.98px) {
	.reviews__container {
		padding: 29px;
	}
	.reviews__ttile {
		font-size: 20px;
		line-height: 24px;
	}
	.reviews__img {
		top: 20px;
		left: 18px;
		color: #3e3e3e;
	}
}

@media (max-width: 575.98px) {
	.reviews__contact {
		flex-direction: column;
	}
	.reviews__stars {
		margin-top: 24px;
	}
}
/***********************************************************
**************************support***************************
************************************************************/

.support {
	margin-top: 80px;
	background: linear-gradient(317.85deg, #fafafa -11.18%, #f1f1f1 114.83%);
	box-shadow: -3px -3px 8px #ffffff, 2px 2px 6px rgba(174, 174, 192, 0.4), inset 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.09),
		inset -1.5px -1.5px 1.5px #ffffff;
	border-radius: 15px;
	position: relative;
	&__container {
		display: flex;
		padding: 0 57px 0 77px;
		position: relative;
	}

	&__images {
	}

	&__img {
		flex-basis: 32%;
		min-width: 0;
		margin-bottom: -50px;
		top: -50px;
		overflow: hidden;
		position: relative;
		z-index: 2;

		&::before {
			position: absolute;
			content: "";
			background: url(../img/phoneMask.png);
			background-size: 100% 100%;
			background-repeat: no-repeat;
			width: 318px;
			height: 100%;
			top: 0;
			left: 0;
			display: block;
			z-index: 2;
		}
	}

	&__animation {
		position: relative;
	}

	&__phone {
		position: absolute;
		width: 327px;
		left: 0;
		height: 556px;
		z-index: 2;
	}

	&__full {
		flex-basis: 68%;
		padding-bottom: 122px;
		position: relative;
		z-index: 1;
	}

	&__title {
		padding-top: 60px;
		text-align: center;
	}

	&__items {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto;
		margin-top: 65px;
		row-gap: 75px;
		column-gap: 38px;
	}

	&__item {
		padding: 0 0 0 14px;
		border-left: 3px solid #272727;
		height: 100%;
	}

	&__sub-title {
		@include font(bold);
		font-size: 20px;
		line-height: 24px;
		color: #272727;
	}

	&__text {
		@include font(500);
		font-size: 16px;
		line-height: 19px;
		color: #272727;
		margin-top: 3px;
	}
}
/*suport animation**********************/

.support {
	&__phone {
	}

	&__animation {
		position: relative;

		height: 100%;
		top: 80px;
		left: 20px;
		overflow: hidden;
	}
}
.animation {
	&__img {
		position: absolute;
		top: 0;
		max-width: 100%;
		animation-name: position;
		animation-duration: 5s;
		animation-iteration-count: infinite;
	}
}

@keyframes position {
	0% {
		top: 0;
	}
	100% {
		top: -50%;
	}
}

/******support media****************************************************/

@media (max-width: 1200.98px) {
	.support__container {
		padding: 0 20px 0 0;
	}
}

@media (max-width: 1050.98px) {
	.support__img {
		flex-basis: 40%;
	}
	.support__full {
		flex-basis: 60%;
	}
}

@media (max-width: 991.98px) {
	.support {
		margin-top: 28px;
		background: transparent;
		box-shadow: none;
		&__container {
			display: flex;
			flex-direction: column;
		}

		&__img {
		}

		&__animation {
		}

		&__mobile-scroll {
			order: 2;
			overflow: hidden;
			text-align: center;
			display: flex;
			justify-content: center;
			margin-top: 26px;
		}

		&__animations {
			position: relative;
			height: 400px;

			width: 300px;
			&::before {
				position: absolute;
				content: "";
				background: url(../img/phoneMask.png);
				background-size: 100% 100%;
				background-repeat: no-repeat;
				width: 318px;
				height: 621px;
				top: 7px;
				left: 0;
				display: block;
				z-index: 2;
			}
		}

		&__full {
			order: 1;
			padding-bottom: 0;
		}

		&__title {
			padding-top: 0;
		}

		&__items {
			margin-top: 39px;
		}

		&__item {
		}

		&__sub-title {
		}

		&__text {
		}
	}
	.desctop {
	}
	.animation {
		&__img {
		}

		&__mobile {
			top: 0;
			left: -26px;
			position: relative;
			width: 400px;
			height: 100%;
			overflow: hidden;
			top: 100px;
		}

		&__imges {
			animation-name: mobile-scroll;
			animation-duration: 5s;
			animation-iteration-count: infinite;
			position: absolute;
			top: 0px;
			left: 0px;
			width: 276px;
			height: 420px;
			left: 50px;
			top: 0px;
		}
	}
	.mobile {
	}
	.title {
	}
	@keyframes mobile-scroll {
		0% {
			top: 0;
		}
		100% {
			top: -100%;
		}
	}
}

@media (max-width: 575.98px) {
	.support__items {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto auto;
		margin-top: 39px;
		row-gap: 28px;
	}

	.support__title {
		font-size: 23px;
		line-height: 26px;
		color: #3e3e3e;
		text-transform: uppercase;
	}
}
